.Map {
  color: red;
  position: absolute;
  user-select: none;
}

.row {
  line-height: 0;
  font-size: 0;
}

/* tile */
.row span {
  display: inline-block;
  font-size: 8px;
  width: 10px;
  height: 10px;
  background-color: blue;
}