.Map {
  color: red;
  position: absolute;
  user-select: none;
}

.row {
  line-height: 0;
  font-size: 0;
  white-space: nowrap;
}

/* tile */
.row span {
  display: inline-block;
  font-size: 8px;
  width: 30px;
  height: 30px;
  background-color: blue;
}
.row span.hit {
  background-color: red;
}